spring:
  application:
    name: demo
  profiles:
    active: local 

jasypt:
    encryptor:
        bean: jasyptStringEncryptor

application:
  security:
    jwt:
      secret-key: 462D4A614E645266556A586E3272357538782F413F4428472B4B625065536856
      expiration: 60000 # 86400000 # 1 day
      refresh-token:
        expiration: 604800000 # 7 days